
/*
  Basics
*/

body {
	background-color: white;
	background: url(/assets/images/bg-page.jpg);
  color: var(--text-color);
	line-height: 1.4;
}
body, input, button, textarea, pre {
	font-family: 'Murcurry', serif;
	font-size: 22px;
}
p {
	margin: 0 0 0.9em 0;
}
a {
	color: var(--text-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.img-link {
  text-decoration: none;
  border: none;
}
b, strong {
  font-weight: 700;
}
i, em {
	font-style: italic;
}
img {
	max-width: 100%;
}


/*
  Titles
*/
.title-xl,
.title-lg,
.title-md,
.title-sm,
.title-xs {
  /* text-transform: uppercase; */
  /* margin-bottom: 0.3em; */
	line-height: 1.1;
	font-weight: 700;
}
.title-xl { font-size: 10em; }
.title-lg { font-size: 2em; }
.title-md { font-size: 1.4em; }
.title-sm { font-size: 1em; }
.title-xs { font-size: 0.9em; }

/*
	Small screens
*/
/* @media all and (max-width: 767px) {
	body, pre { font-size: 18px; }
	.title-xl { font-size: 3em; }
	.title-lg { font-size: 1.8em; }
	.title-md { font-size: 1.5em; }
	.title-sm { font-size: 1.2em; }
	.title-xs { font-size: 0.9em; }
} */
